body{
    font-family: 'Roboto', sans-serif;
}

.body-wrapper {
    background: #FDFEFE;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
}

h1.page-title {
    color: #540375;
    font-weight: 600;
    font-size: 2rem;
}

h2.page-title {
    color: #434242;
    font-weight: 400;
    font-size: 1.5rem;
}

h3 {
    color: #2B7A78;
}

.search-bar {
    font-weight: 500;
    font-size: 1rem;
    border-width: 2px;
    height: 2.5rem;
    border-radius: 10px;
    color: #434242;
}

.search-btn {
    background-color: #5f6fff;
    border-color: #5f6fff;
    height: 2.4rem;
    width: 8rem;
    font-size: 1rem;
    font-weight: 500;
    border-width: 2px;
    border-radius: 10px;
}

.search-btn:hover {
    background-color: #fff;
    border-color: #5f6fff;
    border-width: 2px;
    color: #5f6fff;
}

.search-btn:focus {
    background-color: #5f6fff;
    border-color: #5f6fff;
}

.error-text {
    font-weight: 500;
}

.alert-icon {
    font-size: 1.2rem;
    color: #B73E3E;
}

.form-control:focus {
    box-shadow: none;
}

.condition-icon {
    width: 12rem;
}

.weather-label {
    font-weight: 500;
    font-size: 1.05rem;
    color: #434242;
}

.weather-data {
    font-weight: 400;
    font-size: 1.05rem;
    color: #222222;
}

.advice-text {
    font-weight: 500;
    font-size: 0.95rem;
    color:#17252A;
}

.note-icon {
    font-size: 1.5rem;
    color:#17252A;
}

.weather-icon {
    font-size: 2.2rem;
}

.weather-icon-bootstrap {
    font-size: 1.4rem;
}

.uv-icon {
    font-size: 1.5rem;
}

.inner-card-style {
    background-color: #FEFFFF;
    border: none;
    color: #17252A;
}

.inner-card-style:hover {
    text-decoration: none;
    color: #17252A;
}

.condition-icon-hourly {
    width: 6rem;
}

.time {
    font-weight: 400;
    font-size: 1.2rem;
    color: #222222;
}

.temp {
    font-weight: 600;
    font-size: 1.6rem;
    color: #222222;
}

.description {
    font-weight: 400;
    font-size: 1.3rem;
    color: #222222;
}

.realfeel {
    font-weight: 400;
    font-size: 1.3rem;
    color: #222222;
}

.nav-pill-btn {
    font-weight: 500 !important;
    font-size: 1.2rem;
}

.nav-pill-btn.active {
    background-color: #5f6fff !important;
    border-color: #5f6fff !important;
    border-radius: 8px;
}

.list-group.frame {
    border: none;
}

.list-group-item.items {
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0;
    color: #434242;
    border-color: rgba(128, 128, 128, 0.281);
}

.list-group-item.items:hover {
    background-color: #5f6fff;
    color: #fff;
}

.search-result-description {
    font-weight: 500;
    font-size: 1rem;
    color: #222222;
}